*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --water:#64C0A9;
    --purple:#9C72E4;
    --green:#B0C926;
    --pink:#D863A1;
    --white:#FFFFFF;
    --grey:#F6F8F9;
    --blue:#47ADF1;
}
body{
    background-color: var(--grey);
}
header {
    vertical-align: middle;
    background-color: var(--white);
}
h1{
    display: inline-block;
    vertical-align: middle;
}

/* main */

main{
    width: 80%;
    background-color: var(--white);
    margin: auto;
    margin-top: 3rem;
}

.button_section{
    border-bottom: 2px solid var(--grey);
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#add_task{
    background-color: var(--blue);
    width: 7rem;
    height: 2rem;
    border-radius: 10px;
    color: var(--white);
    border: 0;
}

#add_section{
    background-color: var(--white);
    width: 7rem;
    height: 2rem;
    border-radius: 10px;
    color: lightgrey;
    border: 1px solid ;
}
/* main section */
.container{
    padding: 2rem;
}
.mini_container{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}
.check_box{
    text-align: center;
    border-radius: 50%;
    border: 1px solid green;
    color: green;
    padding: 2px;
    margin-right: 5px;
}

section > p{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 30px;
}
 .edit_button{
    border-radius: 10px;
    width: 60px;
    height: 20px;
    background-color: var(--blue);
    color: var(--white);
    border: 0;
 }